<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>HomeControll</servlet-name>
        <servlet-class>Controller.HomeControll</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DetailController</servlet-name>
        <servlet-class>Controller.DetailController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CategoryControl</servlet-name>
        <servlet-class>Controller.CategoryControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchControl</servlet-name>
        <servlet-class>Controller.SearchControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchByAjax</servlet-name>
        <servlet-class>Controller.SearchByAjax</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CartControll</servlet-name>
        <servlet-class>Controller.CartControll</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowCartControll</servlet-name>
        <servlet-class>Controller.ShowCartControll</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveProductControl</servlet-name>
        <servlet-class>Controller.RemoveProductControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderControl</servlet-name>
        <servlet-class>Controller.OrderControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginControll</servlet-name>
        <servlet-class>Controller.LoginControll</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogOutControl</servlet-name>
        <servlet-class>Controller.LogOutControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignUpControll</servlet-name>
        <servlet-class>Controller.SignUpControll</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManagerControl</servlet-name>
        <servlet-class>Controller.ManagerProductControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddControl</servlet-name>
        <servlet-class>Controller.AddControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteControl</servlet-name>
        <servlet-class>Controller.DeleteControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateControll</servlet-name>
        <servlet-class>Controller.UpdateControll</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadControl</servlet-name>
        <servlet-class>Controller.LoadControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManagerAccountControl</servlet-name>
        <servlet-class>Controller.ManagerAccountControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddAccountControll</servlet-name>
        <servlet-class>Controller.AddAccountControll</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateAccControll</servlet-name>
        <servlet-class>Controller.UpdateAccControll</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HomeControll</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DetailController</servlet-name>
        <url-pattern>/detail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CategoryControl</servlet-name>
        <url-pattern>/category</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchControl</servlet-name>
        <url-pattern>/search</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchByAjax</servlet-name>
        <url-pattern>/SearchByAjax</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CartControll</servlet-name>
        <url-pattern>/cart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowCartControll</servlet-name>
        <url-pattern>/showcart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveProductControl</servlet-name>
        <url-pattern>/remove</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderControl</servlet-name>
        <url-pattern>/order</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginControll</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogOutControl</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignUpControll</servlet-name>
        <url-pattern>/signup</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManagerControl</servlet-name>
        <url-pattern>/manager</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddControl</servlet-name>
        <url-pattern>/add</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteControl</servlet-name>
        <url-pattern>/delete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateControll</servlet-name>
        <url-pattern>/update</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadControl</servlet-name>
        <url-pattern>/loadu</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManagerAccountControl</servlet-name>
        <url-pattern>/manageraccount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddAccountControll</servlet-name>
        <url-pattern>/addacc</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateAccControll</servlet-name>
        <url-pattern>/updateacc</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
