/* ===== Colours ===== */
:root {
  --body-color: #e4e9f7;
  --nav-color: #307e7e;
  --side-nav: #010718;
  --text-color: #fff;
  --text-color-2: rgb(42, 120, 165);
  --text-color-3: rgb(27, 27, 27);
  --search-bar: #f2f2f2;
  --search-text: #010718;
}

body.dark {
  --body-color: #18191a;
  --nav-color: #242526;
  --side-nav: #242526;
  --text-color: #ccc;
  --text-color-2: rgb(255, 238, 0);
  --text-color-3: rgb(223, 251, 250);
  --search-bar: #242526;
}

.product-hover {/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
  position: absolute;
  top: 30px;
  right: -40px;
  letter-spacing: 0;
  z-index: 2;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.product-body {/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
  /*	position: absolute;*/
  bottom: 35px;
  padding: 15px 37px;
  width: 100%;
  z-index: 100;
  /*opacity: 0;
      -webkit-transform: scale(0);
      -ms-transform: scale(0);
      -o-transform: scale(0);
      transform: scale(0);
      filter: alpha(opacity=0);*/
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.product-body a.ts-viewdetail {/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
  color: #000000;
  float: right;
  font-size: 20px;
  margin-top: -40px;
  position: relative;
  display: block;
}

.product-actions form.variants {/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
  -webkit-transition: all 0.3s ease 0.2s;
  -o-transition: all 0.3s ease 0.2s;
  transition: all 0.3s ease 0.2s;
  -webkit-transform: translateX(20px);
  -ms-transform: translateX(20px);
  -o-transform: translateX(20px);
  transform: translateX(20px);
}

.product-actions .product-quick-view {/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
  -webkit-transition: all 0.3s ease 0.1s;
  -o-transition: all 0.3s ease 0.1s;
  transition: all 0.3s ease 0.1s;
  -webkit-transform: translateX(20px);
  -ms-transform: translateX(20px);
  -o-transform: translateX(20px);
  transform: translateX(20px);
}

.product-actions .wishlist {/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  -webkit-transform: translateX(20px);
  -ms-transform: translateX(20px);
  -o-transform: translateX(20px);
  transform: translateX(20px);
}

.product-grid:hover .product-hover {/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
  right: 35px;
}

.product-grid:hover .product-body {/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
  opacity: 1;
  filter: alpha(opacity=100);
}

.product-grid:hover .product-actions form.variants,/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
.product-grid:hover .product-actions .product-quick-view,/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
.product-grid:hover .product-actions .wishlist {
  -webkit-transform: translateX(0px);
  -ms-transform: translateX(0px);
  -o-transform: translateX(0px);
  transform: translateX(0px);
}

.product-grid {/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
  overflow: hidden;
}

.products-grid-2 .product-grid .product-body {/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
  position: static;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
  opacity: 1;
  filter: alpha(opacity=100);
  margin-top: 30px;
}

.ts-service .icon {/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
  font-size: 100px;
  line-height: 1em;
}


.products.home-slide.owl-carousel .product-grid .product-body {/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
  opacity: 1;
  filter: alpha(opacity=100);
  position: absolute;
  bottom: 70px;
  left: 5px;
}

.products.home-slide.owl-carousel .product-grid .product-name {/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
  font-size: 30px;
}


/* HEADER 2 */
.header-v2 .main-header > .row {/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
  margin: 0;
  box-shadow: 42px;
}

/* --------------------- */
/*      RESPONSIVE       */
/* --------------------- */
@media (min-width: 1200px) and (max-width: 1440px) {/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
  .nr-cart-header .shoping-cart-widget {
    padding: 50px 0;
  }

  .iconbox-style1 {
    padding: 0;
  }

  .iconbox-style1 .iconbox-title .icon {/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
    font-size: 85px;
  }

  .ts-service {
    min-height: 280px;
  }

  .ts-categories-grid-icon .grid {
    height: 380px;/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
    
  }

  .ts-categories-grid .item-category .category-info {/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
    padding: 30px;/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
  }

  .ts-categories-grid .cat-icon > img {
    max-width: 80px;/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
  }
}

@media (min-width: 992px) and (max-width: 1199px) {/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
  h1 {
    font-size: 50px;
  }

  h2 {
    font-size: 40px;
  }

  h3 {
    font-size: 30px;
  }

  h4 {
    font-size: 25px;
  }

  h5 {
    font-size: 20px;
  }

  h6 {
    font-size: 15px;
  }

  .about-text .text-aboutcontent {
    padding: 50px;
  }

  .ts-login-form {
    padding: 50px;
  }

  .nr-search-head .ts-serch-inner {
    width: 80%;
  }

  .nr-cart-header .shoping-cart-widget {
    padding: 50px 0;
  }

  .nr-mainmenu .ts-mainmenu-inner {
    padding: 40px 0;
  }

  .header-v1 {
    padding: 0 20px;
  }

  .header-v1 .header-right .button-toggle {
    font-size: 18px;
  }

  .ts-feature .info-feature {
    padding: 15px;
  }

  .ts-feature .info-feature .icon {/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
    font-size: 55px;
    line-height: 55px;
  }

  .feature-newsletter .form-newsletter button {
    letter-spacing: 3px;
    padding: 10px 15px;
  }

  .feature-newsletter input[type="text"] {
    padding: 9px 10px;
  }

  .header-v1 .logo {
    margin: 30px 0;
  }
}

@media (min-width: 768px) and (max-width: 991px) {/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
  h1 {
    font-size: 40px;
  }

  h2 {
    font-size: 30px;
  }

  h3 {
    font-size: 25px;
  }

  h4 {
    font-size: 20px;
  }

  h5 {
    font-size: 18px;
  }

  h6 {
    font-size: 14px;
  }

  .about-text .text-aboutcontent {
    padding: 30px 50px;
  }

  .ts-shortcode-category .product-column1,
  .ts-shortcode-category .product-column2 {
    width: 100%;
  }

  .ts-feature .info-feature {
    padding: 5px 10px;
  }

  .ts-feature .info-feature .icon {/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
    font-size: 45px;
    line-height: 45px;
  }

  .ts-feature .info-feature p {
    font-size: 12px;
  }

  .feature-newsletter .form-newsletter button {
    padding: 6px;
  }

  .feature-newsletter input[type="text"] {
    font-size: 10px;
    padding: 5px 6px;
  }

  .feature-newsletter .form-newsletter button {
    letter-spacing: 3px;
    padding: 6px;
  }

  .nr-mainmenu .ts-mainmenu-inner {
    padding: 40px 0;
  }

  .nr-cart-header .shoping-cart-widget {
    padding: 50px 0;
  }

  .header-v1 {
    padding: 0;
  }

  .header-v1 .logo {
    width: 15%;
    float: left;
  }

  .header-v1 .header-right {
    width: 85%;
    float: left;
    overflow: hidden;
  }

  .header-v2 .main-header .header-left {
    padding: 24px 20px;
  }

  .header-v2 .main-header .header-right {
    padding: 25px 20px;
  }

  .nr-mainmenu .ts-mainmenu-inner {
    min-width: auto;
  }

  .header-v1 .logo {
    margin: 29px 0;
  }

  .navigation-north-2 > ul > li > a {
    padding: 30px 10px;
  }
}

@media (max-width: 767px) {/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
  h1 {
    font-size: 35px;
  }

  h2 {
    font-size: 25px;
  }

  h3 {
    font-size: 22px;
  }

  h4 {
    font-size: 20px;
  }

  h5 {
    font-size: 18px;
  }

  h6 {
    font-size: 14px;
  }

  .ts-login-form {
    width: 100%;
    padding: 45px 50px;
  }

  .nr-search-head {
    width: 100%;
  }

  .nr-search-head .ts-serch-inner {
    width: 80%;
  }

  .nr-search-head .ts-search-form input[type="search"] {
    font-size: 25px;
  }

  .nr-search-head .ts-search-form {
    border-bottom: none;
  }

  .main-header .button-toggle {
    margin-top: 0;
  }

  .toggle-loginform {
    font-size: 18px;
  }

  .main-header .header-right .button-toggle {
    font-size: 20px;
  }

  .main-header .header-right .toggle-cart .number-cart {
    font-size: 10px;
  }

  .menu-bar {
    margin-bottom: 5px;
    width: 25px;
  }

  .button-toggle.toggle-mainmenu {
    margin-top: 2px;
  }

  .nr-mainmenu,
  .nr-cart-header {
    width: 100%;
  }

  .nr-cart-header .shoping-cart-widget {
    padding: 40px 0;
  }

  .header-v1 {
    padding: 0;
  }

  .fullheight {
    overflow: scroll;
    overflow-x: hidden;
  }

  .header-v1 .logo {
    margin: 20px 0;
    width: 40%;
  }

  .navigation-north-2 {
    display: none;
  }

  .header-v1 .main-header .header-right .toggle-mainmenu {
    display: inline-block;
  }

  .header-v1 .ts-login-form {
    width: 100%;
  }

  .header-right .button-toggle.toggle-searchform {
    display: none;
  }

  .header-v2 .main-header .header-left {
    float: left;
    padding: 15px 15px 12px 0;
    width: 50%;
  }

  .header-v2 .main-header .header-right {
    float: right;
    padding: 16px 0 10px 15px;
    width: 50%;
  }

  .header-v2 .logo {
    width: 90px;
  }

  .header-v2 .main-header .header-right .button-toggle {
    color: #000;
  }

  .header-v2
    .main-header
    .header-right
    .button-toggle.toggle-mainmenu
    .menu-bar {
    background: #000;
  }

  .header-v2 .main-header .header-right {
    background: #fff;
    width: auto;
    float: right;
  }

  .header-v2 .main-header .header-right .button-toggle.toggle-mainmenu {
    float: right;
    margin-left: 20px;
  }

  .header-v2 .main-header .header-right .button-toggle.toggle-cart {
    color: #000;
  }

  .header-v2 .main-header .header-left {
    width: auto;
    float: left;
    position: absolute;
    left: 0px;
    right: 68px;
  }

  .header-v2 .toggle-loginform {
    font-size: 20px;
    padding-right: 5px;
  }

  .nr-mainmenu {
    padding: 0 30px;
  }

  .nr-search-head {
    display: block !important;
    height: auto !important;
    padding: 0 20px;
    position: relative;
    background: #000000;
    opacity: 1 !important;
    filter: alpha(opacity=100) !important;
  }

  .nr-search-head .ts-serch-inner {
    left: 0;
    position: relative;
    top: 0;
    width: 100%;
    -webkit-transform: translateY(0) translateX(0);
    -ms-transform: translateY(0) translateX(0);
    -o-transform: translateY(0) translateX(0);
    transform: translateY(0) translateX(0);
  }

  .nr-search-head .ts-search-form input[type="search"] {
    color: #919090;
    font-size: 11px;
    line-height: 24px;
    padding: 3px;
  }

  .nr-search-head .ts-search-form .search-submit .icon:before {
    content: "#";
    font-family: "linea-basic-10" !important;
    font-size: 14px;
  }

  .navigation-north .toggle-dropdown-menu > ul > li > a {
    font-size: 18px;
  }

  .nr-social-header ul li {
    margin-right: 15px;
  }

  .nr-cart-header .shoping-cart-widget {
    min-width: auto;
    width: 100%;
  }

  .header.header-v1 .nr-account {
    width: 100%;
    top: 109px;
  }

  .header.header-v2 .nr-account {
    width: 100%;
    top: 82px;
  }

  .header-v1 .ts-login-form {
    right: 0;
  }
}

@media (max-width: 480px) {/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
  .header.header-v1 .nr-account {
    width: 100%;
    top: 101px;
  }

  .header.header-v2 .nr-account {
    width: 100%;
    top: 81px;
  }

  .header-v2 .logo {
    width: 50%;
  }

  .ts-social-header ul li {
    margin-right: 15px;
  }

  .nr-mainmenu .ts-mainmenu-inner {
    min-width: auto;
  }

  .ts-feature .info-feature .icon {/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
    font-size: 35px;
  }

  .ts-categories-grid-icon .grid {
    height: 280px;/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
  }
}

@media (max-width: 360px) {/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
  .header.header-v1 .nr-account {
    width: 100%;
    top: 97px;
  }

  .header.header-v2 .nr-account {
    width: 100%;
    top: 81px;
  }
}


.product .product-innercotent > a img {/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
  width: 100%;
}

.product-innercotent .info-product .ts-viewdetail {/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
  color: #000000;
  float: right;
  font-size: 20px;
  margin-top: -23px;
  position: relative;
}

.product-innercotent .info-product .ts-viewdetail:hover {/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
  color: #bda47d;
}
/* Product grid */
.products-grid-no-margin.products > .row {/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
  margin-left: 0;
  margin-right: 0;
}

.products-grid-no-margin.products div.product {/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
  padding: 0;
  margin-bottom: 0;
}

.products div.product {/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
  margin-bottom: 30px;
  position: relative;
}

.collection-grid .product-body {/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
  bottom: 25px;
  text-align: center;
}

.products.owl-carousel div.product {/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
  margin-bottom: 0;
}


.product .onsale {/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
  position: absolute;
  top: 70px;
  left: 20px;
  font-size: 10px;
  letter-spacing: 6px;
  text-transform: uppercase;
  color: #bda47d;
  border: 2px solid #bda47d;
  padding: 0 7px;
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);
  z-index: 5;
}

.product .ts-infoproduct .onsale,/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
.single-product .onsale {
  right: 20px;
  left: auto;
}

.product .sold-out {/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
  position: absolute;
  top: 90px;
  left: 0px;
  font-size: 10px;
  letter-spacing: 6px;
  text-transform: uppercase;
  color: #000000;
  border: 2px solid #000000;
  padding: 0 7px;
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);
  z-index: 5;
}

.product .new {/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
  position: absolute;
  top: 70px;
  left: 20px;
  font-size: 10px;
  letter-spacing: 6px;
  text-transform: uppercase;
  color: #fa7468;
  border: 2px solid #fa7468;
  padding: 0 7px;
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);
  z-index: 5;
}

div.product .summary .product_meta {/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
  margin-bottom: 20px;
}

div.product .summary .product_meta > span {/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
  display: inline-block;
  margin-right: 20px;
  color: #000000;
}

div.product .summary .product_meta > span:last-child {/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
  margin-right: 0;
}

div.product .summary .product_meta > span a,/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
div.product .summary .product_meta > span span {/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
  color: #949494;
}

div.product .summary .product_meta > span a:hover {/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
  color: #bda47d;
}

div.product .summary .product-share > span {/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
  font-size: 15px;
  color: #000000;
  display: block;
  margin-bottom: 10px;
}

div.product .summary .product-share ul li {/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
  display: inline-block;
  list-style: none;
  font-size: 14px;
  margin-right: 25px;
}

div.product .summary .product-share ul li:last-child {/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
  margin-right: 0;
}

div.product .summary .product-share ul li a {/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
  color: #000000;
}

div.product .summary .product-share ul li a:hover {/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
  color: #bda47d;
}


.relate-product .products .row {/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
  margin: 0;
}

.relate-product .products div.product {/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
  padding: 0;
  margin-bottom: 0;
}


.backtotop span.icon {/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
  text-align: right;
  font-size: 20px;
  transition: all 0.5s ease 0s;
}

.backtotop:hover span.icon {/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
  -webkit-transform: translateY(-13px) rotate(0deg);
  -ms-transform: translateY(-13px) rotate(0deg);
  -o-transform: translateY(-13px) rotate(0deg);
  transform: translateY(-13px) rotate(0deg);
}
.ts-feature .info-feature .icon {/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
  font-size: 80px;
  color: #000000;
  line-height: 80px;
}

.address-style-v2 .icon {/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
  font-size: 50px;
}


.row-faq {/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
  border-bottom: 1px solid #eee;
  margin-bottom: 55px;
}


.ts-icon-boxes a.learn-more .icon {/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
  font-size: 16px;
  vertical-align: middle;
  margin-left: 5px;
}


.iconbox-style1 .iconbox-title .icon {/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
  color: #bda47d;
  display: inline-block;
  font-size: 100px;
  margin-bottom: 20px;
}


.iconbox-style2 .iconbox-title .icon {/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
  width: 130px;
  height: 130px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  font-size: 50px;
  color: #ffffff;
  text-align: center;
  margin-bottom: 30px;
  display: inline-block;
  line-height: 130px;
  background-color: #bda47d;
}

.iconbox-style3 .iconbox-title .icon {/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
  font-size: 40px;
  color: #000000;
}

.iconbox-style3:hover .iconbox-title .icon {/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
  color: #bda47d;/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
}

.iconbox-style3.text-right .iconbox-title .icon {/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
  float: right;
}

.iconbox-style3.text-left .iconbox-title .icon {/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
  float: left;
}


.iconbox-style2.yellow .iconbox-title .icon {/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
  background-color: #eeb14f;
}

.iconbox-style2.red .iconbox-title .icon {/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
  background-color: #fa7468;
}

.iconbox-style2.blue .iconbox-title .icon {/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
  background-color: #bcecde;
  color: #000000;
}


.ts-icon-boxes a.learn-more .icon {/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
  font-size: 16px;
  vertical-align: middle;
  margin-left: 5px;
}


.iconbox-style1 .iconbox-title .icon {/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
  color: #bda47d;
  display: inline-block;
  font-size: 100px;
  margin-bottom: 20px;
}

.iconbox-style2 .iconbox-title .icon {/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
  -webkit-transition: background 0.3s ease 0s, color 0.3s ease 0s,
    box-shadow 0.3s ease 0s;
  -o-transition: background 0.3s ease 0s, color 0.3s ease 0s,
    box-shadow 0.3s ease 0s;
  transition: background 0.3s ease 0s, color 0.3s ease 0s,
    box-shadow 0.3s ease 0s;
  overflow: hidden;
}

.iconbox-style2.text-center .iconbox-title .icon {/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
  margin: 0 auto 30px;
}

.iconbox-style2.text-left .iconbox-title .icon {/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
  margin: 0 auto 30px 0;
}

.iconbox-style2.text-right .iconbox-title .icon {/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
  margin: 0 0 30px auto;
}

.iconbox-style3:hover .iconbox-title .icon {/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
  color: #bda47d;
}

/*H2 category section  */
.item-category {/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
  min-height: 130px;/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
}/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */

.ts-categories-grid .item-category .category-info {
  position: absolute;/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
  padding: 35px;
  bottom: 0;
  left: 0;
  right: 0;
}

.ts-categories-grid .item-category figure img {/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
  width: 100%;/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
}

.ts-categories-grid .item-category .category-info h4,/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
.ts-categories-grid .item-category .category-info p {/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
  margin: 0;
}

.ts-categories-grid .item-category .category-info p {/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
  font-size: 15px;
}

.ts-categories-grid .item-category .category-info h4 a {/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
  color: #000000;
}

.ts-categories-grid .item-category .category-info h4 a:hover {/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
  color: #bda47d;
}

.ts-categories-grid-icon .grid {/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
  height: 467px;
}

.ts-categories-grid-icon {/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
  margin: 0 -15px 30px;
}

.ts-categories-grid-icon .grid {/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
  padding: 0 15px;
  margin-top: 30px;
}

.ts-categories-grid.ts-categories-grid-icon .item-category .category-info {/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
  bottom: 0px;
  left: 15px;
  right: 15px;
}

.ts-categories-grid-icon .item-category .image-cat {/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.item-category .cat-icon {/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
  margin-bottom: 15px;
  display: block;
}

.ts-categories-grid .item-category {/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
  overflow: hidden;
}

.ts-categories-grid .item-category img {/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
  width: 100%;
  -webkit-transition: all 3s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s;
  -o-transition: all 3s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s;
  transition: all 3s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s;
}

.ts-categories-grid .item-category:hover img {/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
  webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  -o-transform: scale(1.05);
  transform: scale(1.05);
}

/* Policy*/
.section-service > .row {/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
  margin: 0;
}

.section-service > .row > .col-md-3 {/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
  padding-left: 0;
  padding-right: 0;
}


.section-feature-2 > .row {/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
  margin: 0;
}

.section-feature-2 > .row > .col-sm-6 {/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
  padding: 0;
}
.iconbox-style2.yellow .iconbox-title .icon {/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
  background-color: #eeb14f;
}

.iconbox-style2.red .iconbox-title .icon {/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
  background-color: #fa7468;
}

.iconbox-style2.blue .iconbox-title .icon {/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
  background-color: #bcecde;
  color: #000000;
}


.product-details-wrapper .product-name {/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
  margin-bottom: 10px;
}

.product-details-wrapper .product-name a {/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
  color: #000000;
}


.product-details-wrapper .product-price label {/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
  display: inline-block;
  font-size: 21px;
  color: #000;
  font-weight: 300;
  margin-bottom: 30px;
}


.masonry-products div.product {/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
  margin-bottom: 0;
}


.quickview-product.engo-popup .product-actions input {/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
  padding: 7px 15px;
}


.quickview-product.engo-popup .product-name {/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
  margin-bottom: 0;
}

.engo-popup .product-name {/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
  font-weight: 300;
}

.engo-popup .product-name a {/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
  color: #212121;
}


.product-color-select.row {/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}
